SECRET_KEY="YOUR SECRET KEY"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES="30"
REFRESH_TOKEN_EXPIRE_DAYS="30"
PWD_SCHEMA="bcrypt"
PWD_DEPRECATED="auto"
MAIL_USERNAME="YOUR MAIL USERNAME"
MAIL_PASSWORD="YOUR MAIL PASSWORD"
MAIL_FROM="YOUR MAIL"
MAIL_PORT="2525"
MAIL_SERVER="smtp.mail.ru"
MAIL_STARTTLS="True"
MAIL_SSL_TLS="False"
USE_CREDENTIALS="True"
VALIDATE_CERTS="True"
MAIL_CONFIRMATION_TOKEN_EXPIRE_SECONDS="300"
FRONTEND_HOST="app"
FRONTEND_PORT="8000"
APP_TITLE="PetTracker"
API_URL_PREFIX="/api/v1"
APP_HOST="0.0.0.0"
APP_PORT="8000"
DB_HOST="db"
DB_PORT="5432"
DB_USER="postgres"
DB_PASSWORD="postgres"
DB_NAME="postgres"
CELERY_BROKER_HOST="redis"
CELERY_RESULT_BACKEND_HOST="redis"
CELERY_BROKER_PORT="6379"
CELERY_RESULT_BACKEND_PORT="6379"
TEST_DB_HOST="test_db"
TEST_DB_PORT="5433"
TEST_DB_USER="postgres"
TEST_DB_PASSWORD="postgres"
TEST_DB_NAME="postgres"
