<!DOCTYPE html>
<html>
<head>
</head>
        <body>
            <div>
                <h3> Сброс пароля</h3>
                <br>
                <p>Перейдите по ссылке ниже, чтобы восстановить пароль в PetTracker</p>

                <a href="{{frontend_url}}?token={{token}}">
                    Восстановить пароль
                </a>

                <p style="margin-top:1rem;">Если вы не пытались восстановить пароль в PetTracker, то,
                    пожалуйста, просто проигнорируйте это письмо.<p>
            </div>
        </body>
</html>
